<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Session-02</title>
        <link rel="stylesheet" href="/static/css/guestbook.css">
        <script async defer src="/static/js/guestbook.js"></script>
    </head>
    <body>
        <h1>Neuroscience Fan Club</h1>
        <div id="brainImg">
            <img src="/static/images/Neuroimaging.jpg" alt="Brain Scans">
        </div>
        <div>
            <a href="https://www.simplypsychology.org/neuroimaging.html">Learn about Neuroimaging Techniques!</a>
            <p>Welcome to the Neuroscience Fan Club!</p>
        </div>
        <div>
            <h2>Guestbook:</h2>
            <input id="guestName" name="guestName">
            <button id="addGuest">Submit Name</button>   
            <h2>List of Guests:</h3>
            <ol id="guestlist">
                <li>Sarah Kollodge</li>
            </ol>   

        </div>
    </body>
</html>